<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticketing detail</title>
  <link rel="stylesheet" href="ticketing-web/public/css/style.css">
</head>
<body>
  <header>
    <h1>주영언니 데뷔작 뮤지컬 '길'</h1>
    
  </header>
  <main>
    
    <script>
      function bookTicket() {
      
        alert('예매하기 버튼을 눌렀습니다.');

        //   // 예약 페이지로 이동
        // window.location.href = '/seats';
        // 예매하기 버튼을 눌렀을 때의 로직 추가 가능
    // 현재는 서버로의 요청만 수행
        fetch('/bookTicket')
          .then(response => {
            if (response.ok) {
              // 예매 페이지로 이동
              window.location.href = '/seats';
            } else {
              // 로그인 페이지로 이동
              window.location.href = '/login';
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
          }
      </script>
    
    <button onclick="bookTicket()">예매하기</button>
  </main>
  

  <footer>
    <p>&copy; 2024 Ticketing Website</p>
  </footer>
</body>
</html>
