<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticketing detail</title>
  <link rel="stylesheet" href="ticketing-web/public/css/style.css">
</head>
<body>
  <header>
    <h1>주영언니 데뷔작 뮤지컬 '길'</h1>
    
  </header>
  <main>
    
    <script>
      function bookTicket() {
      
        // alert('예매하기 버튼을 눌렀습니다.');


        fetch('/bookTicket')
          .then(response => {
            if (response.ok) {
              // 예매 페이지로 이동
              window.location.href = '/seats';
            } else if (response.status === 401) {
              // 인증되지 않은 경우 로그인 페이지로 이동
              window.location.href = '/login';
            } else {
              // 기타 다른 상태 코드에 대한 처리
              console.error('Error:', response.statusText);
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
          }
      </script>
    
    <button onclick="bookTicket()">예매하기</button>
  </main>
  

  <footer>
    <p>&copy; 2024 Ticketing Website</p>
  </footer>
</body>
</html>
